{% extends "base.html.twig" %}

{% block title %}Sooonr - Help{% endblock %}

{% block body %}
    <div class="container">

        <h3 class="text-center">F.A.Q</h3>
        <hr/>

        <div class="row">
            <div class="col-4">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Créer un événement</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">Annuler ma participation à un événmenet</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                       aria-controls="v-pills-messages" aria-selected="false">Ajouter un bouton Payapal</a>
                </div>
            </div>
            <div class="col-8">

                {# Div événement #}
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        <h3>Comment créer un événement ?</h3>
                        <ul>
                            <li>Connecter vous avec votre compte Sooonr</li>
                            <li>Cliquer sur le menu déroulant est sélectionner "Tableau de bord"</li>
                            <img src="{{ asset('build/help/menu_connexion.png') }}" class="mx-auto d-block img-fluid"
                                 height="200" width="200">
                            <li>Sur votre espace personnel sélectionner la catégories événement</li>
                            <img src="{{ asset('build/help/action.png') }}" class="mx-auto d-block img-fluid" height="400" width="400">
                            <li>Enfin sélectionner sur le ménu de gauche "créer un événment"</li>
                            <img src="{{ asset('build/help/evenement.png') }}" class="mx-auto d-block img-fluid" height="200"
                                 width="200">
                            <li>Rempliser le formulaire est clicker sur enregister</li>
                        </ul>
                    </div>

                    {# Div annuler une participation #}
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">
                        <h3>Annuler ma participation à un événement</h3>
                        <ul>
                            <li>Connecter vous avec votre compte Sooonr</li>
                            <li>Cliquer sur le menu déroulant est sélectionner "Tableau de bord"</li>
                            <img src="{{ asset('build/help/menu_connexion.png') }}" class="mx-auto d-block img-fluid"
                                 height="200" width="200">
                            <li>Sur votre espace personnel sélectionner la catégories "événement"</li>
                            <img src="{{ asset('build/help/action.png') }}" class="mx-auto d-block img-fluid" height="400" width="400">
                            <li>Sélectionner mes participations sur le menu de gauche</li>
                            <li>Cliquer sur le bouton "Annuler ma participation" en sélectionnant l'événement de votre choix</li>
                            <img src="{{ asset('build/help/participation.png') }}" class="mx-auto d-block img-fluid" height="400" width="400">
                        </ul>
                    </div>

                    {# Div paypal #}
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                         aria-labelledby="v-pills-messages-tab">
                        <h3>Comment ajouter un bouton paypal ?</h3>
                        <ul>
                            <li>Connecter vous sur votre paypal</li>
                            <li>Aller sur <a href="https://www.paypal.com/donate/buttons">ce lien</a> est suivre les
                                étapes
                            </li>
                            <li>Sélectionner "URL à partager" puis coller le lien dans le champs approprié</li>
                        </ul>
                        <img src="{{ asset('build/help/paypal.png') }}" class="mx-auto d-block img-fluid" height="400" width="400">
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}