{% extends 'base.html.twig' %}

{% block title %}Sooonr - Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">


            <form class="form-inline col-md-12">
                <input class="form-control col-md-8" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success col-md-3" type="submit">Recherche</button>
            </form>

            <div class="row">

                <div class="col-md-9">

                    <h3>Nouveau événement</h3>

                    {% for event in events %}

                        {% set description = (event.description|length > 110 ? event.description|slice(0, 110)|striptags ~ '…' : event.description) %}

                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <img src="{{ asset('build/avatars/' ~ event.image) }}" class="card-img" height="220">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">

                                            <a href="{{ path('event_show', {id: event.id} ) }}" class="custom-card">
                                                <h5 class="card-title">{{ event.title }}</h5>
                                            </a>

                                        <div>
                                            <i class="far fa-calendar-alt"></i> {{ event.dateEvent.date|date('d/m/Y') }}
                                        </div>

                                        <div>
                                            <i class="fas fa-map-marker-alt"></i> {{ event.address }}
                                        </div>

                                        <div>
                                            <i class="fas fa-tag"></i>
                                            {% if event.price == 0 %}
                                                Gratuit
                                            {% else %}
                                                {{ event.price }} €
                                            {% endif %}
                                        </div>

                                        <p class="card-text">{{ description|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>

                <div class="col-md-3">
                    <h3>Evenement à venir</h3>

                    {% for nextEvent in nextEvents %}

                        {% set nextDescription = (nextEvent.description|length > 50 ? nextEvent.description|slice(0, 50)|striptags ~ '…' : nextEvent.description) %}

                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ nextEvent.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted"><i class="far fa-calendar-alt"></i> {{ nextEvent.dateEvent.date|date('d/m/Y') }}</h6>
                                <p class="card-text">{{ nextDescription|raw }}</p>
                                <a href="{{ path('event_show', {id: nextEvent.id }) }}" class="btn btn-info"><i
                                            class="far fa-eye"></i> Voir plus</a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.participe').click(function () {

            var data = $(this).attr('id');

            var url = "{{ path('event_participe', {'id': 'id'}) }}";
            url = url.replace("id", data);

            var formSerialize = $(this).serialize();

            $.post(url, formSerialize, function (response) {

                $('#notif ').html(response['message']);
                $('#notif').fadeIn(500);
                $('#button').html('<span class="badge badge-secondary">Je participe déjà à cette événment</span>');

            }, "JSON");
        });
    </script>
{% endblock %}