<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sancreek&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc7f6d118e.js"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
        {{ encore_entry_link_tags('css/style') }}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('app_home') }}">Sooonr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_home') }}"><i class="fas fa-calendar-week"></i> Evenement
                        <span class="sr-only">(current)</span></a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}"><i
                                    class="fas fa-sign-out-alt"></i> {{ 'menu.login'|trans }}</a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown ml-aut">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle"></i> {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-righ" aria-labelledby="navbarDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('easyadmin') }}"><i
                                            class="fas fa-unlock-alt"></i> Administration</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('dashboard') }}"><i class="fas fa-cog"></i> Tableau
                                de bord</a>
                            <a class="dropdown-item" href="{{ path('profile_show') }}"><i class="far fa-id-badge"></i>
                                Voir mon profil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-power-off"></i>
                                Déconnexion</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="padding-top">

    {% block body %}{% endblock %}

</div>

<!-- Footer -->
<footer class="page-footer font-small ghostwhite pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Sooonr</h6>
                <p>Soonr propose une solution pour les artiste afin de dévélopper une communauté et promouvoir leurs
                    spectable</p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Services</h6>
                <p>
                    <a href="{{ path('app_home') }}">Evénements</a>
                </p>

            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a href="{{ path('dashboard') }}">Tableau de bord</a>
                </p>
                <p>
                    <a href="{{ path('app_about') }}">About</a>
                </p>
                <p>
                    <a href="{{ path('app_mentions_legales') }}">Mention légales</a>
                </p>
                <p>
                    <a href="{{ path('help') }}">Aide</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                    <i class="fas fa-home mr-3"></i> Paris, France</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i>sooonr@gmail.com</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2019 Copyright:
                    <a href="{{ path('app_home') }}">
                        <strong>Sooonr</strong>
                    </a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}
</body>
</html>
