<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/cc7f6d118e.js"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
        {{ encore_entry_link_tags('css/style') }}
    {% endblock %}
</head>
<body>

{% block nav %}
    {{ render( controller( 'App\\Controller\\NavbarController::indexAction' ) ) }}
{% endblock %}


<div class="padding-top">

    {% block body %}{% endblock %}

</div>

<!-- Footer -->
<footer class="page-footer font-small ghostwhite">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Sooonr</h6>
                <p>Soonr propose une solution pour les artiste afin de dévélopper une communauté et promouvoir leurs
                    spectable</p>
            </div>
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Services</h6>
                <p>
                    <a href="{{ path('app_home') }}">Evénements</a>
                </p>
            </div>
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a href="{{ path('app_contact') }}">Contact</a>
                </p>
                <p>
                    <a href="{{ path('app_about') }}">A propos</a>
                </p>
                <p>
                    <a href="{{ path('app_mentions_legales') }}">Mention légales</a>
                </p>
                <p>
                    <a href="{{ path('help') }}">Aide</a>
                </p>
            </div>
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                    <i class="fas fa-home mr-3"></i> Paris, France</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i>sooonr@gmail.com</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Footer links -->
        <hr>
        <!-- Grid row -->
        <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
                <!--Copyright-->
                <p class="text-center text-md-left">© 2019 Copyright:
                    <a href="{{ path('app_home') }}">
                        <strong>Sooonr</strong>
                    </a>
                </p>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
</footer>
<!-- Footer -->
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}
</body>
</html>
