{% extends "base.html.twig" %}

{% block title %}Sooonr - Profil{% endblock %}

{% block body %}
    <div class="container">

        {% if app.user.profile.id is defined %}
            {% if profile.id == app.user.profile.id %}
                <a href="{{ path('profile_edit', {id: profile.id} ) }}" class="btn btn-info">Modifier</a>
            {% endif %}
        {% endif %}

        <h1>{{ profile.pseudo }}</h1>
        <hr/>
        <div class="row">
            <div class="col-lg-2 pull-lg-2 text-xs-center">
                <img src="{{ asset('build/avatars/' ~ profile.image) }}" class="m-x-auto img-fluid img-circle">
            </div>
            <div class="col-md-9">

                <h6>Description</h6>
                <p>
                    {{ profile.about }}
                </p>
                <h6>Profession</h6>
                <p>
                    {{ profile.stageName }}
                </p>

                {% if profile.paypal is not null %}
                <h6>Faire un don Paypal</h6>
                <p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick"/>
                    <input type="hidden" name="hosted_button_id" value="{{ profile.paypal }}"/>
                    <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0"
                           name="submit" title="PayPal - The safer, easier way to pay online!"
                           alt="Bouton Faites un don avec PayPal"/>
                    <img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1"/>
                </form>
                </p>
                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}