{% extends 'base.html.twig' %}

{% block title %}Event  !{% endblock %}

{% block body %}
    <div class="container">
        {% if is_granted('ROLE_USER') %}
            <h1 class="text-center">Gestion des événements</h1>
            <hr/>

            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-profile-list"
                           data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Créer un
                            événement</a>
                        <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list"
                           href="#list-home" role="tab" aria-controls="home">Mes participations</a>
                        <a class="list-group-item list-group-item-action" id="list-like-list" data-toggle="list"
                           href="#list-like" role="tab" aria-controls="home">évenements sauvegardé</a>
                        <a class="list-group-item list-group-item-action" id="list-events-list" data-toggle="list"
                           href="#list-events" role="tab" aria-controls="events">Mes événements</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                            {% for myevent in myevents %}

                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="{{ asset('build/avatars/' ~ myevent.idEvent.image) }}"
                                                 class="card-img">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ myevent.idEvent.title }}</h5>
                                                <p class="card-text">{{ myevent.idEvent.description }}</p>
                                                <p class="card-text">
                                                    <button class="btn btn-danger">Annuler ma participation</button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="tab-pane fade show" id="list-like" role="tabpanel" aria-labelledby="list-like-list">

                            {% for like in likes %}

                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="{{ asset('build/avatars/' ~ like.idEvent.image) }}"
                                                 class="card-img">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ like.idEvent.title }}</h5>
                                                <p class="card-text">{{ like.idEvent.description|raw }}</p>
                                                <a href="{{ path('event_show', {id: like.idEvent.id }) }}"
                                                   class="btn btn-info"><i class="far fa-eye"></i> Voir</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="tab-pane fade show active" id="list-profile" role="tabpanel"
                             aria-labelledby="list-profile-list">

                            <h3>Crée un événement</h3>

                            <div class="form-group">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                            </div>

                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
                            </button>
                            {{ form_end(form) }}
                        </div>
                        <div class="tab-pane fade show" id="list-events" role="tabpanel"
                             aria-labelledby="list-events-list">

                            {% for event in events %}
                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="{{ asset('build/avatars/' ~ event.image) }}" class="card-img">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ event.title }}</h5>
                                                <p class="card-text">{{ event.description|raw }}</p>
                                                <p class="card-text">
                                                    <a href="{{ path('event_delete', {id: event.id}) }}"
                                                       class="btn btn-danger" id="{{ event.id }}">Annuler
                                                        l'événement</a>
                                                    <a href="{{ path('event_edit', {id: event.id}) }}"
                                                       class="btn btn-info">Modifier l'événement</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                minDate: -4,
                format: 'yyyy-mm-dd',
            });
        });
        $('.cancel').click(function () {

            var data = $(this).attr('id');

            var url = "{{ path('event_delete', {'id': 'id'}) }}";
            url = url.replace("id", data);

            var formSerialize = $(this).serialize();

            $.post(url, formSerialize, function (response) {


            }, "JSON");
        });
    </script>
{% endblock %}