{% extends 'base.html.twig' %}

{% block title %}Event  !{% endblock %}

{% block body %}
    <div class="container">
        {% if is_granted('ROLE_USER') %}
            <h1 class="text-center">Gestion des événements</h1>
            <hr/>

            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-profile-list"
                           data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Créer un
                            événement</a>
                        <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list"
                           href="#list-home" role="tab" aria-controls="home">Mes participations</a>
                        <a class="list-group-item list-group-item-action" id="list-like-list" data-toggle="list"
                           href="#list-like" role="tab" aria-controls="home">Évenements sauvegardé</a>
                        <a class="list-group-item list-group-item-action" id="list-events-list" data-toggle="list"
                           href="#list-events" role="tab" aria-controls="events">Mes événements</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                            <div class="alert alert-danger" style="display:none;" id="notif" role="alert">

                            </div>

                            {% for myevent in myevents %}

                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="{{ asset('build/event/' ~ myevent.idEvent.image) }}"
                                                 class="card-img">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ myevent.idEvent.title }}</h5>
                                                <p class="card-text">{{ myevent.idEvent.description }}</p>
                                                <p class="card-text">
                                                    <button class="btn btn-danger cancel-participation" id="{{ myevent.idEvent.id }}">Annuler ma participation</button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="tab-pane fade show" id="list-like" role="tabpanel" aria-labelledby="list-like-list">

                            {% for like in likes %}

                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="{{ asset('build/event/' ~ like.idEvent.image) }}"
                                                 class="card-img">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ like.idEvent.title }}</h5>
                                                <p class="card-text">{{ like.idEvent.description|raw }}</p>
                                                <a href="{{ path('event_show', {id: like.idEvent.id }) }}"
                                                   class="btn btn-info"><i class="far fa-eye"></i> Voir</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="tab-pane fade show active" id="list-profile" role="tabpanel"
                             aria-labelledby="list-profile-list">

                            <h3>Crée un événement</h3>

                            <div class="form-group">
                                {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}
                                {{ form_widget(form) }}
                            </div>

                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
                            </button>
                            {{ form_end(form) }}

                        </div>
                        <div class="tab-pane fade show" id="list-events" role="tabpanel"
                             aria-labelledby="list-events-list">

                            <div class="alert alert-primary" role="alert">
                                <i class="fas fa-info-circle"></i> Les événements terminé sont automatiquement archivé
                            </div>

                            {% for event in events %}
                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-5">
                                            <img src="{{ asset('build/event/' ~ event.image) }}" class="card-img" width="245" height="200">
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ event.title }}</h5>
                                                <p class="card-text">{{ event.description|striptags|raw }}</p>
                                                <p class="card-text">
                                                    <a href="{{ path('event_delete', {id: event.id}) }}"
                                                       class="btn btn-danger" id="{{ event.id }}">Annuler
                                                        l'événement</a>
                                                    <a href="{{ path('event_edit', {id: event.id}) }}"
                                                       class="btn btn-info">Modifier l'événement</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
            });
        });

        $('.cancel-participation').click(function () {

            var data = $(this).attr('id');

            var url = "{{ path('event_participe_delete', {'id': 'id'}) }}";
            url = url.replace("id", data);

            var formSerialize = $(this).serialize();

            $.post(url, formSerialize, function (response) {

                $('#notif ').html(response['message']);
                $('#notif').fadeIn(500);

            }, "JSON");
        });
    </script>
    <script>
        (function() {
            var placesAutocomplete = places({
                appId: 'plZZG88IK9Q9',
                apiKey: '6f32587b09aa36145e77716e3687992f',
                container: document.querySelector('#event_address'),
                type: 'address',
            }).configure({
                hitsPerPage: 4
            });

            placesAutocomplete.on('change', function resultSelected(e) {
                document.querySelector('#event_lat').value = e.suggestion.latlng.lat || '';
                document.querySelector('#event_lng').value = e.suggestion.latlng.lng || '';
            });

            placesAutocomplete.on('reverse', function resultSelected(e) {
                var suggestion = e.suggestions[0];
                document.querySelector('#event_lat').value = e.suggestion.latlng.lat || '';
                document.querySelector('#event_lng').value = e.suggestion.latlng.lng || '';
            });

        })();
    </script>
{% endblock %}