{% extends 'base.html.twig' %}

{% block title %}Event  !{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-success" style="display:none;" id="notif" role="alert">

        </div>
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="{{ asset('build/event/' ~ event.image) }}" class="card-img" height="300">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">
                        <div>
                            <i class="fas fa-map-marker-alt"></i> {{ event.address }}</div>
                        <a href="{{ path('profile_view', {id: event.idUser.id}) }}" class="card-text">
                            <i class="far fa-user"></i> {{ event.idUser.Profile.pseudo }}
                        </a>
                        <div>
                            <i class="far fa-calendar-alt"></i> {{ event.dateEvent.date|date('d/m/Y') }}
                        </div>
                        <div>
                            <i class="fas fa-tag"></i>
                            {% if event.price == 0 %}
                                Gratuit
                            {% else %}
                                {{ event.price }} €
                            {% endif %}
                        </div>
                        <i class="far fa-clock"></i> {{ event.time.date|date('H:i') }}
                        </p>


                        {% if inscrire == true %}
                            <p class="card-text">
                            <div class="row">
                                {% if finish == false %}
                                    {% if app.user is not null %}
                                        <small class="text-muted">
                                            {% if like == null %}
                                            <button type="button" class="btn btn-default" aria-label="Left Align">

                                                <div class="like" id="{{ event.id }}">
                                                    <i class="far fa-bookmark"></i> Mettre de côté
                                                </div>
                                            </button>
                                            {% else %}
                                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                                <div class="delete" id="{{ event.id }}">
                                                    <i class="fas fa-bookmark"></i> Retirer
                                                </div>
                                                {% endif %}
                                            </button>
                                        </small>

                                        {% if participe == null %}
                                            <div id="button">
                                                <button class="btn btn-default participe" id="{{ event.id }}">
                                                    <i class="fas fa-check"></i> Participe
                                                </button>
                                            </div>
                                        {% else %}
                                            <span class="badge badge-secondary">Je participe déjà à cette événment</span>
                                        {% endif %}
                                    {% endif %}

                                {% else %}
                                    <span class="badge badge-danger">Evénement terminé</span>
                                {% endif %}
                            </div>
                            </p>
                        {% else %}
                            <a href="{{ path('event_edit', {id: event.id }) }}" class="btn btn-info">Modifier
                                l'événement</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <h6>Description de l'événement</h6>
        <p>{{ event.description|raw }}</p>

        <div id="map"></div>

        <hr/>
        {% if is_granted('ROLE_USER') %}

            <div class="form-group">
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
            </button>
            {{ form_end(form) }}

            <hr/>
        {% endif %}

        {% if comments is null %}
            <div class="alert alert-primary" role="alert">
                Aucun commentaire
            </div>
        {% else %}
            {% for comment in comments %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                     class="m-x-auto img-fluid img-circle">
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a class="float-left"
                                           href="{{ path('profile_view', {id: comment.idUser.id }) }}"><strong>{{ comment.idUser.Profile.pseudo }}</strong></a>
                                    </div>
                                    <div class="col-md-2">
                                        {{ comment.createAt.date|date('d/m/Y') }}
                                    </div>
                                    <div class="col-md-12">{{ comment.comment|raw }}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $('.participe').click(function () {

            var data = $(this).attr('id');

            var url = "{{ path('event_participe', {'id': 'id'}) }}";
            url = url.replace("id", data);

            var formSerialize = $(this).serialize();

            $.post(url, formSerialize, function (response) {

                $('#notif ').html(response['message']);
                $('#notif').fadeIn(500);
                $('#button').html('<span class="badge badge-secondary">Je participe déjà à cette événment</span>');

            }, "JSON");
        });

        $('body').on('click', '.like', function () {

            var data = $(this).attr('id');

            var url = "{{ path('event_like', {'id': 'id'}) }}";
            url = url.replace("id", data);

            var formSerialize = $(this).serialize();

            $.post(url, formSerialize, function (response) {

                $('.like').html('<i class="fas fa-bookmark"></i> Retirer');
                $('#' + data).removeClass('like');
                $('#' + data).addClass('delete');

            }, "JSON");
        });

        $('body').on('click', '.delete', function () {

            var data = $(this).attr('id');

            var url = "{{ path('event_delete_like', {'id': 'id'}) }}";
            url = url.replace("id", data);

            var formSerialize = $(this).serialize();

            $.post(url, formSerialize, function (response) {

                $('.delete').html('<i class="far fa-bookmark"></i> Mettre de côté');
                $('#' + data).removeClass('delete');
                $('#' + data).addClass('like');

            }, "JSON");

        });

    </script>
    <script>

        function initMap() {
            var myLatLng = {lat: {{ event.lat }}, lng: {{ event.lng }} };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D7u7x3nTdwZtSGWHnfy67ourR6Cqwdw&callback=initMap"
            async defer></script>
{% endblock %}