{% extends 'base.html.twig' %}

{% block title %}Dashboard !{% endblock %}

{% block body %}
    <div class="container">
        {% if is_granted('ROLE_USER') %}

            <h1>Mon compte</h1>

            <div class="row">

                <a href="{{ path('event') }}" class="custom-card">
                    <div class="col-md-5">
                        <div class="card mb-3" style="width: 30rem; display: inline-block">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <div class="card-body">
                                        <i class="fas fa-calendar-day fa-7x"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ 'event'|trans }}</h5>
                                        <p class="card-text">Modifier vos événement, événement sauvgardé, événement
                                            participé.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% if linkProfile == false %}
                    <a href="{{ path('profile_new') }}" class="custom-card">
                        <div class="col-md-5">
                            <div class="card mb-3" style="width: 30rem; display: inline-block">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <div class="card-body">
                                            <i class="fas fa-user-circle fa-7x"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Profile</h5>
                                            <p class="card-text">Modifier votre profile (Biographie, photo de
                                                profil..)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="{{ path('profile_edit', {id: idProfile.id}) }}" class="custom-card">
                        <div class="col-md-5">
                            <div class="card mb-3" style="width: 30rem; display: inline-block">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <div class="card-body">
                                            <i class="fas fa-user-circle fa-7x"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Profile</h5>
                                            <p class="card-text">Modifier votre profile (Biographie, photo de
                                                profil..)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}


                <a href="{{ path('user_change_password') }}" class="custom-card">
                    <div class="col-md-5">
                        <div class="card mb-3" style="width: 30rem; display: inline-block">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <div class="card-body">
                                        <i class="fas fa-key fa-7x"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ 'title.change_password'|trans }}</h5>
                                        <p class="card-text">Changer le mot de passe de votre compte</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="{{ path('user_edit') }}" class="custom-card">
                    <div class="col-md-5">
                        <div class="card mb-3" style="width: 30rem; display: inline-block">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <div class="card-body">
                                        <i class="fas fa-shield-alt fa-7x"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Paramètre de sécurité</h5>
                                        <p class="card-text">Modifier votre identifiant de connexion</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        {% endif %}
    </div>
{% endblock %}